:root {
    --blue: #1C608E;
}

@font-face {
    font-family: Spectral-Light;
    font-weight: 400;
    src: url(./fonts/Spectral-Light.ttf);
}

@font-face {
    font-family: NotoSans;
    font-weight: 400;
    src: url(./fonts/NotoSansDisplay-Regular.ttf);
}

@page {
    size: A4;
    margin: 10mm;
    margin-top: 5mm;
}

body {
    margin: 0px;
    padding: 0px;
}

img {
    max-width: 25px;
    max-height: 25px;
    vertical-align: middle;
}

#name {
    text-align: center;
    font-family: NotoSans;
    font-weight: lighter;
    margin: 0;
    font-size: 10mm;    
}

#middle {
    font-family: NotoSans;
    font-weight: lighter;
    font-style: italic;
    color: var(--blue);
}

h2 {
    font-family: Verdana;
    font-weight: lighter;
    margin: 1mm;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;    
}

h3 {
    font-family: Calibri;
    font-weight: normal;
    color: var(--blue);
    font-size: 22px;
    margin: 0;
    margin-bottom: 15px;
}

p {
    font-family: Garamond;
    font-weight: lighter;
    margin: 0;
}

.textObjective {
    font-size: 14;
    font-family: Calibri;
    margin-top: 8px;
    margin-bottom: 8px;
}

.textEducation {
    font-family: Calibri;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 10px;
}

.degree1 {
    font-weight: normal;
    font-size: 18px;
}

.degree2 {
    font-weight: normal;
    font-size: 15px;
}

.university {
    font-style: italic;
}

.pageDiv {
    width: 189mm;
    height: 271mm;   
}

.textSkill {
    font-family: Calibri;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 12px;
}

.skillTitle {
    font-weight: bold;
    font-size: 17px;
    margin: 0;
    margin-top: 20px;
}

.skillText {

}

.headerDiv {    
}

.nameDiv {
    display: flex;
    justify-content: center;    
}

.contactDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
    padding-top: 20px;        
    padding-bottom: 25px;
}

.body {
    display: flex;    
}

.leftColumn {
    width: 90mm;
    height: 239mm;
    margin: 0;
    margin-right: 9mm;
    padding: 0;
    text-align: right;
}

.rightColumn {
    width: 200mm;
    height: 239mm;
    text-align: left;
}

.objective {
    margin: 0;
    margin-bottom: 25px;
}

.educationEntry {
    margin: 0;
    margin-bottom: 30px;
}

.jobEntry {
    display: inline;
   
}

.jobTitle {
    float: left;
}

/** {    
 .contactDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
    padding-top: 2mm;    
    line-height: 100px;
}
}*/



