:root {
    --blue: #1C608E;
    --bg: #625834;
    --fg: #eeebd3;
}



* {
    box-sizing: border-box;
    outline: 1px red dashed;
}

body {
    background-color: var(--bg);
}

.fg {
    background-color: var(--fg);
}

#test {
    float: left;
}

@media (min-width: 320px) {
    :root {
        --bg: black;
    }
}

@media (orientation: landscape) {
    :root {
        --bg: red;
    }
}

@media (min-width: 1025px) {
    :root {
        --bg: green;
    }
}